Read these rules carefully and fully.

LAWS RULES

*** Current Duris LAWS - these are subject to change at any time.

1.   Player killing is expected to be fully used by all!  If someone,
pisses you off, kill them, and loot their corpse!

2.   &+RMulti-playing is NOT allowed&N.  For clarification of
multi-playing, &+Ysee "help multi-playing."&N

3.   Bugs are to be reported to staff ASAP see bug policy below.  Since we 
constantly put in new code, there are bound to be many bugs.  If you aren't 
sure if something is a bug, ask staff. Use Discord or petition.

4.   Players should settle their own disputes.  Talking to staff
should be a last resort, as gods abide by the non-interference policy.
Use the petition channel if you need to consult with staff.

5.   Running robots in ANY shape or form is illegal. This means any robot
that you set up with clients such as Tintin.

         
                      &+BDURIS BUG POLICY&n

  You must report all bugs you as a player find on Duris using the bug
command, however once you have reported this bug you &+gMAY&n use it as many 
times as you like till the code no longer allows you to.  There is one 
exception to this rule any bug you find that &+RCRASHES&n or &+RFREEZES&n 
the mud must be reported immediately after the next time you login and never 
used again.

  We the operators of Duris have played many muds over the years and 
have always believed that if the code lets you it is for lack of a better term 
an undocumented feature of that mud.  We will &+gNOT&n delete players who show
exceptional mudding ability and find these little gems or we might end up 
possibly losing the best players on the mud.

  Now you may be telling yourself well gee I'll just use a bug over and over
then the first time staff sees me I will tell them I just found it.  Well my
friends &+RTHIS WILL NOT WORK&n because if we see you use a bug once we wont 
say anything and will wait for you to ether use the bug command or for you to 
use the bug again if it has not already been fixed.

  What happens if you use a bug over and over again and don't report it?  Well
in that case, it would be considered a GROSS violation of our simple rules here.
And you at that poing more then likely WILL be deleted for doing something so
obviously childish and immuture, depending on on the severity of 
the abuse.

       &+RDO NOT POST KNOWN BUGS ON THE BOARDS USE THE 'BUG' COMMAND!!!&n
		